.navbar {
  background-color: #222222 !important;
}

.navbar-static-top {
    border-width: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default a:hover {
  background-color: #090909;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
    background-color: #090909;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #090909;
}

.nav-link {
  color: white !important;
}

footer {
  padding-top: 32px;
}

.o_footer {
  background-color: #464958 !important;
  color: white;

  .text-muted {
    color: white !important;
  }
}

.o_footer a {
  color: #ffffff;
}

.s_carousel .oe_custom_bg {
  height: 440px !important;
}

section:not(.oe_img_bg):not(.jumbotron) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  background-color: rgb(70, 131, 153) !important;
}

/* refactor */
.container {
  h2 {
    padding-top: 18px;
  }
}
