.navbar {
  background-color: #222222 !important;
}

.nav-link {
  color: white !important;
}

footer {
  padding-top: 32px;
}

.o_footer {
  background-color: #464958 !important;
  color: white;

  a:not(.dropdown-item) {
    color: #ffffff;
  }
  
  .text-muted {
    color: white !important;
  }
}

.s_carousel .oe_custom_bg {
  height: 440px !important;
}

section:not(.oe_img_bg):not(.jumbotron) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  background-color: rgb(70, 131, 153) !important;
}

/* refactor */
.container {
  h2 {
    padding-top: 18px;
  }
}
